
// Fonts
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: Quicksand-Regular;
    src: url('../fonts/Quicksand/static/Quicksand-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    font-family: Quicksand-Regular;
}

body, html {
    scroll-behavior: smooth;
    // background-color: #000;
}

.container {
    padding: 0 10%;
}

.btn {
    padding: 8px 1rem;
    border: none;
    background-color: gray;
    border-radius: 4px;
    display: inline-block;
    width: fit-content;
    color: #000;
    font-family: Poppins;
    cursor: pointer;
}
.btn-default {
    position: relative;
    background: #BB8D31;
    color: #fff;
    transition: .3s;
}
.btn-default-outline {
    position: relative;
    background: transparent;
    color: #BB8D31;
    transition: .3s;
    border: 1px solid #BB8D31;
}
.btn-white-outline {
    position: relative;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: .3s;
    border: 1px solid #ffffff;
}
.btn-default-outline:hover {
    color: #000;
    background-color: #BB8D31;
}
.btn-white-outline:hover {
    color: #000;
    background-color: #ffffff;
}
.btn-default:hover {
    background-color: #a17e36;
}
#flash_layout {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: #000000;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;

    .spinner {
        color: #BB8D31;
        font-size: 40px;
        animation: putar 1s infinite;
    }

}
@keyframes putar {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
#flash_layout.hide {
    opacity: 0;
}
#navbar {
    height: 6rem;
    transition: .2s;
    position: fixed;
    z-index: 999;
    // background-color: #fff;
    width: 100%;

    .container {
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .sidebarToggle {
            color: #fff !important;
            position: relative;
            font-size: 28px;
            z-index: 100;
            width: 3.5rem;
            height: 3.5rem;
            transition: .05s;
            display: none;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
        .sidebarToggle:active {
            background-color: rgba(255,255,255, .2);
        }
        .logo img {
            height: 2.5rem;
        }

        .navs {
            display: flex;
            list-style: none;

            li {
                padding: 0 1rem;

                a {
                    color: #ffffff;
                    opacity: .75;
                }
                a:hover {
                    opacity: 1;
                }
            }
            li.active {
                a {
                    opacity: 1;
                    font-weight: bold;
                    color: #BB8D31 !important;
                }
            }
        }
    }
}
#navbar.scroll {
    height: 4rem;
    // position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    transform: translateY(-100%);
}
#navbar.scroll.show {
    transform: translateY(-0%);
}

#header {
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-color: #f5f5f5;
    position: relative;
    // display: none;

    .filter {
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.75);
    }

    .inner-header {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #ffffff;

        h4 {
            font-weight: normal;
            // color: #BB8D31;
            opacity: .8;
        }
        h1 {
            font-size: 6em;
            font-family: Poppins-Regular;
        }
        p {
            opacity: .8;
            font-size: 18px;
            font-weight: normal;
        }
        .socmed {
            display: flex;
            list-style: none;
            li {
                padding: 1.5rem;

                a {
                    color: #BB8D31;
                    font-size: 23px;
                }
            }
        }
    }
}
.getStart {
    background-color: #000000;
    display: flex;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #BB8D31;
    font-size: 48px;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;  
    z-index: 98;
}

#about {
    position: relative;
    background-color: #000000;
    height: 100vh;
    position: relative;
    // top: -4vh;
    // display: none;

    .container {
        position: relative;
        color: #ffffff;
        // top
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 98;

        .section-name {
            color: #BB8D31;
        }
        h2 {
            font-size: 48px;
            margin: 1rem 0;
        }
        p {
            width: 80%;
            opacity: .75;
            margin-bottom: 1rem;
        }
    }
    .hiasan {
        position: absolute;
        // height: 80%;
        width: 50%;
        max-height: 80vh;
        top: 10%;
        left: 10%;
        z-index: 97;
    }
}

#about::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    background-image: url('../images/MeInBlack.png');
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
}

#services {
    height: fit-content;
    // display: none;
    background-image: url('../images/725868.jpg');
    background-size: cover;
    background-position: center center;

    .container {
        background-color: rgba(126, 97, 39, 0.5);
        height: inherit;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;

        .cat-name {
            color: #BB8D31;
        }
        .title {
            font-size: 32px;
            font-weight: bold;
            font-family: Poppins;
            margin: 1rem 0;
        }
        .subtitle {
            opacity: .75;
        }

        .items {
            width: 100%;
            display: grid;
            margin-top: 2rem;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 2rem;

            .item {
                background-color: rgba(255, 255, 255, .1);  
                backdrop-filter: blur(3px);
                min-height: 250px;
                border-radius: 6px;
                justify-content: flex-start;
                align-items: flex-start;
                display: flex;
                padding: 2rem;
                flex-direction: column;

                .icon {
                    color: #BB8D31;
                    font-size: 40px;
                }
                .name {
                    color: #fff;
                    font-weight: bold;
                    margin-top: 1rem;
                }
                p {
                    margin-top: .5rem;
                    opacity: .8;
                    text-align: left;
                    font-size: 14px;
                }

            }
        }
    }
}

#portfolio {
    background-color: #000;
    .container {
        color: #fff;
        display: flex;
        padding-top: 5rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .cat-name {
            color: #BB8D31;
        }
        .title {
            font-size: 32px;
            font-weight: bold;
            margin: 1rem 0;
            font-family: Poppins;
        }
        .subtitle {
            opacity: .75;
            text-align: center;
        }

        .items {
            padding-bottom: 5rem;
            margin-top: 2rem;
            .item {
                display: grid;
                margin: 2rem 0;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: 'img info';
                gap: 2rem;
                align-items: center;

                .image {
                    height: 300px;
                    grid-area: img;
                    width: 100%;
                    
                    // margin: auto;
                    background-color: rgba(187, 141, 49, 0.2);
                    border-radius: 6px;
                }
                .text {
                    grid-area: info;
                    
                    .name {
                        font-size: 40px;
                        font-family: Poppins;
                    }
                    .desc {
                        opacity: .75;
                    }
                    .btn {
                        margin-top: 1rem;
                    }
                }
            }
            
            .item:nth-child(even) {
                grid-template-areas: 'info img';
            }
        }
        
        .devider {
            height: 0;
            border-bottom: 1px solid rgba(255,255,255, .2);
            width: 100%;
        }
    }
}
#order {
    .container {
        background-color: #000000;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
        color: #fff;
        .title {
            font-size: 32px;
            font-weight: bold;
            font-family: Poppins;
        }
        .subtitle {
            opacity: .75;
            text-align: center;
        }
        .steps {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            align-items: center;
            justify-content: center;
            position: relative;
            margin-top: 5rem;
            .line {
                height: 0;
                width: 80%;
                left: 50%;
                top: 37%;
                transform: translateX(-50%) translateY(-50%);
                position: absolute;
                border-bottom: 3px solid #BB8D31;
            }

            .step {
                .circle {
                    width: 100px;
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 52px;
                    color: #BB8D31;
                    height: 100px;
                    background-color: #000000;
                    position: relative;
                    z-index: 98;
                    border: 3px solid #BB8D31;
                    border-radius: 50%;
                }
                .desc {
                    margin-top: 1.5rem;
                }
            }
        }
    }
}
#contact {
    position: relative;
    background-image: url(../images/pohons.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    .map {
        z-index: 95;
        position: absolute;

    }
    .container {
        padding-top: 5rem;
        padding-bottom: 5rem;
        position: relative;
        z-index: 96;
        background-color: rgba(0, 0, 0, .75);
        display: grid;
        grid-template-columns: 40% auto;
        align-items: center;
        gap: 2rem;

        .cat-name {
            color: #BB8D31;
        }
        .title {
            font-size: 32px;
            font-weight: bold;
            font-family: Poppins;
        }
        .subtitle {
            opacity: .75;
            margin: 1rem 0;
        }
        .btn {
            margin-top: 1rem;
        }

        .items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            
            .item {
                height: 200px;
                text-align: center;
                background-color: rgba(255,255,255, .05);
                backdrop-filter: blur(3px);
                border-radius: 6px;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .icon {
                    font-size: 40px;
                    color: #BB8D31;
                }
                .name {
                    margin-top: 1rem;
                    font-family: Poppins;
                    font-weight: bold;
                }
                .desc {
                    opacity: .75;
                    // font-size: 14px;
                    margin-top: .5rem;
                }
            }
        }
    }
}
#cta {
    padding: 6rem 5%;
    text-align: center;
    background: linear-gradient(0deg, #231A07 0%, #000000 100%);

    h2 {
        font-size: 32px;
        color: #fff;
    }
    .btn {
        margin-top: 2rem;
    }
}
#footer {
    padding: 1rem;
    text-align: center;
    color: #fff;
    background-color: #000000;
    .copy {
        font-size: 14px;
        .link {
            font-weight: bold;
            color: #BB8D31;
        }
        .link:hover {
            color: #a17e36;
        }
    }
}
@media (max-width: 900px) {}
@media (max-width: 850px) {
    #navbar {
        .container {
            height: 4rem;


            .logo img {
                height: 2rem;
                position: relative;
                z-index: 100;
            }
            .sidebarToggle {display: flex;}

            .navs {
                position: fixed;
                flex-direction: column;
                top: 0;
                left: 0;
                width: 100%;
                transition: .3s;
                height: 100vh;
                padding-top: 4rem;
                background-color: #101010;
                top: -100vh;
    
                li {
                    // @extend .container;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top: 0.5px solid rgba(255,255,255, .1);
                    height: 4rem;
                }
            }
        }
    }
    #navbar.showSidebar {
        .container .navs {
            top: 0;
        }
    }
    #navbar.scroll {height: 4rem !important;}
    #header .inner-header {
        h2 {
            font-size: 4em;
        }
        p {
            font-size: 14px;
        }
    }
    #about {
        .container {

            p {
                width: 100%;
            }
        }
        .hiasan {
            width: 80%;
            left: 10%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    #about::after {
        display: none;
    }
    #services {
        .container {
            .items {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
    #portfolio {
        .container .items .item {
            grid-template-columns: 1fr;
            grid-template-areas: 'img' 'info';
            grid-template-rows: 1fr 1fr;
            gap: 0;
        }
        .container .items .item:nth-child(even) {
            grid-template-areas: 'img' 'info';
        }
    }
    #contact {
        .container {
            grid-template-columns: 1fr;
            text-align: center;
            .items {
                margin-top: 2rem;
            }
        }
    }
}
@media (max-width: 500px) {
    #services {
        .container {
            .items {
                grid-template-columns: 1fr;
            }
        }
    }
    #portfolio {
        .container .items .item {
            .image {
                height: 200px;
            }
        }
    }
    #order {
        .container .steps {
            grid-template-columns: 1fr;
            row-gap: 2rem;
            .step {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;

                .desc {
                    margin: 0;
                    text-align: left;
                }
            }
            .line {
                height: 80%;
                width: 0;
                border-bottom: none;
                left: 25%;
                top: 50%;
                transform: translateY(-50%);
                border-left: 3px solid #BB8D31;
            }
        }
    }
    #contact {
        .container {
            .items {
                grid-template-columns: 1fr;
            }
        }
    }
}
@media (max-width: 320px) {}